# Build files.
.wasp/
node_modules/
package-lock.json

# Since we don't want to lock in users into a specific database.
migrations/

# MacOS specific files.
.DS_Store

# Files handled by wasp template skeleton.
*/.gitignore
.waspignore
.wasproot
tsconfig.json
!/skeleton/**/.gitignore
!/skeleton/**/.waspignore
!/skeleton/**/.wasproot
!/skeleton/**/tsconfig.json

# Ignore all dotenv files by default to prevent accidentally committing any secrets.
# To include specific dotenv files, use the `!` operator or adjust these rules.
.env
.env.*

# Don't ignore example dotenv files.
!.env.example
!.env.*.example
