.layout-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
