* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

button.plain {
    border: none;
    outline: none;
    padding: 0;
    color: inherit;
    background: none;
    font: inherit;
    text-decoration: underline;
}
button.plain:hover {
    cursor: pointer;
}
