@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply has-[dialog:open]:overflow-hidden;
}

@layer components {
  .card {
    @apply rounded-xl border border-neutral-200 bg-white shadow-sm transition-all duration-200;
  }

  .label {
    @apply text-sm font-medium text-neutral-700;
  }
}
