*.wasp linguist-language=JavaScript

*.hs linguist-detectable=false

/web/** linguist-documentation
/examples/** linguist-documentation

**/package-lock.json linguist-generated=true

*.snap linguist-generated
