.dir-locals.el
.github/code-review/output-schema.json
.github/code-review/review-prompt.md
.code-review-context.json
# Local Netlify folder
.netlify

# editor related
.idea/
*.swo
*.swp

# macOS related
.DS_Store
.vscode/

node_modules/
