.wasp/
dist/
dist-newstyle/
waspc/data/packages/
waspc/data/*/templates/
waspc/data/Cli/starters/
waspc/e2e-tests/test-outputs/
waspc/.bin
web/.docusaurus
web/build/
web/**/*.md
web/**/*.mdx
web/static/img/
waspc/packages/studio/public/assets/
