.orContinueWith {
  position: relative;
  margin-top: 1.5rem;
}

.orContinueWithLineContainer {
  position: absolute;
  inset: 0px;
  display: flex;
  align-items: center;
}

.orContinueWithLine {
  width: 100%;
  border-top-width: 1px;
  border-color: var(--color-gray500);
}

.orContinueWithTextContainer {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: var(--font-size-sm);
}

.orContinueWithText {
  background-color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.socialAuth {
  margin-top: 1.5rem;
}

.socialAuthLabel {
  font-weight: 500;
  font-size: var(--font-size-sm);
}

.socialAuthButtons {
  gap: 16px;
  margin-top: 0.5rem;
  display: flex;
}

.socialAuthButtons.horizontal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
}

.socialAuthButtons.vertical {
  flex-direction: column;
  margin: 8px 0;
}
