# Dependencies
node_modules/

# macOS-specific files.
.DS_Store

# We want to keep the template clean from the usual build artifacts.
# We also don't want to ship these ignore rules to the users.
template/app/migrations
template/app/package-lock.json
