# Build outputs.
.wasp/
dist/

# Open SaaS app diff folder.
app_diff/

# Formatting `.md` and `.mdx` files can introduce logical changes.
**/blog/**/*.md
**/blog/**/*.mdx

# Ignore minified JS files in the public folder.
**/public/**/*.js

# Blog scripts.
opensaas-sh/blog/scripts/
