@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-r from-slate-200 to-sky-100;
}

.button {
  @apply font-bold py-3 px-6 rounded text-center transition duration-150 bg-orange-300 text-gray-700 hover:bg-orange-200;
}
.button.gray {
  @apply bg-slate-200 text-slate-600;
}
.button.yellow {
  @apply bg-yellow-400 text-yellow-900;
}
.button.light-blue {
  @apply bg-sky-200 text-sky-600 hover:bg-sky-100
}
.button.sm {
  @apply text-sm py-2 px-4;
}
.button.xs {
  @apply text-xs py-1 px-2;
}
.button:disabled {
  @apply opacity-50 cursor-not-allowed pointer-events-none;
}
input,
textarea {
  @apply relative w-full rounded-lg bg-white py-3 pl-3 pr-10 text-left shadow-md focus:outline-none focus-visible:border-indigo-500 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-sky-300;
}

input[type="text"],
textarea {
  appearance: none;
  -webkit-appearance: none;
}

.big-box {
  @apply bg-slate-50 text-slate-800 p-8 rounded-xl;
}

.big-box-dark {
  @apply bg-slate-800 text-slate-100 p-8 rounded-xl;
} 

.status-icon {
  @apply rounded-full w-[27px] h-[27px] flex items-center justify-center;
}

.creativity-conventional {
  @apply text-purple-600;
}
.creativity-creative {
  @apply text-orange-600;
}