.message {
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  margin-top: 1rem;
  background: var(--color-gray400);
}

.messageError {
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  margin-top: 1rem;
  background: var(--color-errorBackground);
  color: var(--color-errorText);
}

.messageSuccess {
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  margin-top: 1rem;
  background: var(--color-successBackground);
  color: var(--color-successText);
}
