{{={= =}=}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <meta
            name="viewport"
            content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
        />
        <meta name="theme-color" content="#000000" />

        <link rel="manifest" href="/manifest.json" />

        {=& head =}

        <title>{= title =}</title>
    </head>

    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>

        {=# webSocket.debug =}
        <script>
            localStorage.debug = '*';
        </script>
        {=/ webSocket.debug =}

        <div id="root"></div>
        <script type="module" src="/src/index.tsx"></script>
    </body>
</html>
