# For .ps1 scripts on Win, it is important that their lines end with CRLF to execute correctly.
*.ps1 text eol=crlf
e2e-test/test-outputs/*-golden/** linguist-generated=true
waspls/test/completionTests/*.golden linguist-generated=true
