@import "tailwindcss" source(".");
@source "../.flowbite-react/class-list.json";

/* Flowbite React */
@import "flowbite-react/plugin/tailwindcss";
@source "../node_modules/flowbite-react/**/*.{js,jsx,ts,tsx}";
