@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

/* Created using https://www.tints.dev */
/* Defaults settings, #f5c842 locked at 500 */
@theme {
  --color-primary-50: #fef9ef;
  --color-primary-100: #fef2df;
  --color-primary-200: #fde9c3;
  --color-primary-300: #fcdc97;
  --color-primary-400: #fcd26a;
  --color-primary-500: #f5c842;
  --color-primary-600: #c09c32;
  --color-primary-700: #8c7122;
  --color-primary-800: #5e4b13;
  --color-primary-900: #322706;
  --color-primary-950: #1e1703;
}

@utility link {
  @apply text-primary-600 hover:text-primary-800 focus:ring-primary-500 underline underline-offset-4 focus:ring-2 focus:ring-offset-2 focus:outline-hidden;
}

@utility card {
  @apply rounded-xl border border-gray-200 bg-white p-6 shadow-xs transition-all duration-200;
}

@utility feature-title {
  @apply text-2xl font-semibold;
}
