* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

button.plain {
    border: none;
    outline: none;
    padding: 0;
    color: inherit;
    background: none;
    font: inherit;
    text-decoration: underline;
}
button.plain:hover {
    cursor: pointer;
}
