.guide-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-global-radius);
  padding: 1rem;
  transition: all 0.1s ease-in-out;
}

.guide-link:hover {
  border-color: var(--ifm-pagination-nav-color-hover);
}

.guide-link .subtitle {
  margin: 0;
  color: var(--ifm-color-primary-contrast-foreground);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7em;
  border: 1px solid var(--ifm-color-primary-contrast-foreground);
  background-color: var(--ifm-color-primary-contrast-background);
  padding: 0.2em 0.5em;
  border-radius: 3px;
}

.guide-link h3 {
  margin: 0;
  margin-top: 5px;
  color: var(--ifm-link-color);
}

.guide-link .description {
  margin: 0;
  color: var(--ifm-color-secondary-contrast-foreground);
  font-size: 0.9em;
}
