html,
body {
  padding: 0;
  margin: 0;
}

div.twLandingPage {
  background-color: #F7F5F0;
  -webkit-font-smoothing: antialiased;
}

pre code {
  line-height: 1.25rem;
}

a:hover {
  text-decoration: none;
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*/
