.socialButton {
  display: flex;
  justify-content: center;
  cursor: pointer;
  /* NOTE(matija): icon is otherwise blue, since that
     is link's default font color. */
  color: inherit;
  background-color: #f0f0f0;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: var(--color-gray600);
  font-size: 13px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
  text-decoration: none;
}

.socialButton:visited {
  color: inherit;
}

.socialButton:hover {
  background-color: var(--color-gray500);
  color: inherit;
}
