/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Removes blue tap box over Button/Link on mobile.
 * Issue on Tailwind's repo: https://github.com/tailwindlabs/tailwindcss/discussions/2984
 */
@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: auto;
  }
}

/* Docusaurus stuff */

.blog-list-page {
  background-color: var(--custom-blog-list-background-color);
}

.pill {
  padding: 0.2rem 0.5rem;
  border-radius: 0.375rem;
}

.pill.pill-username-password {
  background-color: var(--auth-ui-username-password-bg);
}

.pill.pill-email {
  background-color: var(--auth-ui-email-bg);
}

/* Highlight Prisma field types properly */
.token[class*="class-name"] {
  color: rgb(54, 172, 170);
}
.token.annotation {
  color: rgb(116, 116, 116) !important;
}

/* You can override the default Infima variables here. */
:root {
  /* Our custom values */
  --custom-background-color: #fdfdfd;
  --custom-background-color-diff: #f4f4f4;
  --custom-shadow-lw: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  --custom-border-radius: 3px;
  --custom-border-radius-md: 6px;
  --custom-discord-color: #8a9cff;
  --custom-wasp-color: #ffcc00;
  --ifm-h3-font-size: 1.3rem;

  /* Blog */
  /**
   * TODO(matija): this is a separate value from the background color on the landing page (in custom.css)
   * Shall we unify that?
   **/
  --custom-blog-list-background-color: #f5f5f5;
  --custom-blog-card-timestamp-color: #737373;
  --custom-blog-card-background-color: white;

  /* Infima overrides */
  --ifm-container-width-xl: 1280px;
  --ifm-font-family-base: "Inter";
  --ifm-color-primary: #bf9900; /* wasp color (ffcc00) darkened by 25% */
  --ifm-color-primary-dark: #8a6f04;
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-code-background-dark: #292d3e;
  /* NOTE(matija): used this because setting --ifm-code-border-radius did nothing, not sure why. */
  --ifm-global-radius: 0;

  /* TODO(matija): this doesn't seem to override the default value. */
  --ifm-button-background-color: var(--custom-background-color);

  --ifm-button-border-radius: var(--custom-border-radius);
  /* TODO(matija): Also doesn't have effect. */
  --ifm-code-border-radius: var(--custom-border-radius);

  --ifm-heading-font-weight: 600;
  --ifm-h2-font-size: 2rem;

  --ifm-col-spacing-vertical: 0.5rem;
  --docusaurus-highlighted-code-line-bg: #dee6ed;
  --auth-ui-username-password-bg: #fee;
  --auth-ui-email-bg: #eef;
}

:root[data-theme="dark"] {
  --custom-background-color-diff: #2a2a2a;

  /* Blog */
  --custom-blog-list-background-color: var(--ifm-background-color);
  --custom-blog-card-timestamp-color: #a3a3a3;
  --custom-blog-card-background-color: black;
  --docusaurus-highlighted-code-line-bg: #dee6ed;
  --auth-ui-username-password-bg: rgb(93, 57, 57);
  --auth-ui-email-bg: rgb(71, 71, 112);
}
