div {
    color: green;
}

button.selected {
    border: 1px solid black;
}

.hidden {
    visibility: hidden;
}

.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.todos__container {
    width: 450px;
}

.todos__toggleAndInput {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.todos__toggleButton {
    height: 40px;
    margin-bottom: 8px;
    margin-left: 20px;

    background-color: white;
    border: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}

.todos__newTaskForm {
    width: 100%;
    margin-left: 10px;
}

.todos__footer {
    width: 100%;
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
}

.todos__footer__filters .filter:not(:last-child) {
    margin-right: 10px;
}
