name: "Automation - Label external PRs"

############################################################
# CAUTION: This workflow should not check out the PR code! #
############################################################
# The `pull_request_target` event is only intended for simple automations on the
# PRs themselves (e.g., labeling, commenting). If we checked out the PR code here,
# we would be running untrusted code and giving it access to our repository
# secrets, which is a major security risk.
#
# More info at:
# https://securitylab.github.com/resources/github-actions-preventing-pwn-requests/

on:
  pull_request_target:
    types:
      - opened
      - reopened

env:
  external_label_name: "external"
  internal_author_associations_json:
    # Possible values here:
    # https://docs.github.com/en/graphql/reference/enums#commentauthorassociation
    '[ "MEMBER", "COLLABORATOR", "OWNER" ]'

jobs:
  label-external-pr:
    name: Label external PRs

    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    steps:
      - name: Label external PR
        if: ${{ !contains(fromJSON(env.internal_author_associations_json), github.event.pull_request.author_association) }}
        run: gh pr edit "$PR_NUMBER" --add-label "$LABEL_NAME"
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
          LABEL_NAME: ${{ env.external_label_name }}
          GH_TOKEN: ${{ github.token }}
