name: "CI"
# This name must be in sync with the name used in:
# /.github/actions/fetch-nightly-cli/action.yaml

on:
  push:
    branches:
      - main
      - release
  pull_request:
  workflow_call:
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  examples-test:
    uses: ./.github/workflows/ci-examples-test.yaml
    secrets: inherit
