name: "CI"

on:
  push:
    branches:
      - main
      - release

  pull_request:

  workflow_call:
    inputs:
      &inputs # This is a YAML "anchor", lets us reuse this same block below
      override-npm-package-version:
        description: >
          If set, overrides the version of npm packages to publish.
          Useful for publishing an RC version.
          Leading 'v' will be stripped if present.
        required: false
        type: string

  workflow_dispatch:
    inputs: *inputs # This is a YAML "alias", reuses the block defined above

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy-test:
    uses: ./.github/workflows/ci-deploy-test.yaml
    secrets: inherit

  examples-test:
    uses: ./.github/workflows/ci-examples-test.yaml
    secrets: inherit

  formatting:
    uses: ./.github/workflows/ci-formatting.yaml
    secrets: inherit

  starters-test:
    uses: ./.github/workflows/ci-starters-test.yaml
    secrets: inherit

  tsspec-test:
    uses: ./.github/workflows/ci-tsspec-test.yaml
    secrets: inherit

  waspc-build:
    uses: ./.github/workflows/ci-waspc-build.yaml
    secrets: inherit

  npm-package-build:
    needs: waspc-build
    uses: ./.github/workflows/ci-npm-package-build.yaml
    secrets: inherit
    with:
      build-outputs-json: ${{ toJson(needs.waspc-build.outputs) }}
      override-npm-package-version: ${{ inputs.override-npm-package-version }}

  npm-package-test:
    needs: npm-package-build
    uses: ./.github/workflows/ci-npm-package-test.yaml
    secrets: inherit

  npm-package-publish:
    needs: npm-package-build
    uses: ./.github/workflows/ci-npm-package-publish.yaml

  waspc-test:
    uses: ./.github/workflows/ci-waspc-test.yaml
    secrets: inherit

  wasp-ai-test:
    uses: ./.github/workflows/ci-wasp-ai-test.yaml
    secrets: inherit
