name: Run headless tests on root example apps

on:
  workflow_call:
  workflow_dispatch:
  push:
    paths:
      - "examples/**"
    branches:
      - main
      - release
  pull_request:
    # paths:
    #   - "examples/**"

env:
  WASP_TELEMETRY_DISABLE: 1

defaults:
  run:
    shell: bash

jobs:
  test-example-apps:
    name: Test Example Apps
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        example:
          - tutorials/TodoApp
          - tutorials/TodoAppTs
          - waspello
          - waspleau
          - websockets-realtime-voting
    steps:
      - uses: "actions/checkout@v4"
        with:
          # Workaround for a Github Checkout action bug
          # https://github.com/actions/checkout/issues/1359#issuecomment-1567902034
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: ./.github/actions/setup-haskell
        with:
          ghc-version: "8.10.7"
          cabal-version: "3.6.2.0"
          cabal-project-dir: waspc

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install Wasp CLI
        working-directory: waspc
        run: |
          ./run install

      - name: Install Dependencies for ${{ matrix.example }}
        working-directory: examples/${{ matrix.example }}
        run: |
          npm ci
          npx playwright install --with-deps

          if [ -f ".env.server.headless" ]; then
            cp .env.server.headless .env.server
          fi

      - name: Extract Database Provider
        id: extract-db-provider
        working-directory: examples/${{ matrix.example }}
        run: |
          DATABASE_PROVIDER=$($GITHUB_WORKSPACE/scripts/get-wasp-database-provider.sh wasp-cli)
          echo "provider=$DATABASE_PROVIDER" >> $GITHUB_OUTPUT

      - name: Run Headless DEV Tests for ${{ matrix.example }}
        working-directory: examples/${{ matrix.example }}
        env:
          WASP_CLI_CMD: wasp-cli
          HEADLESS_TEST_MODE: dev
        run: |
          npm run test

      # Skip BUILD tests for SQLite projects, as it is not supported by Wasp
      - name: Run Headless BUILD Tests for ${{ matrix.example }}
        if: steps.extract-db-provider.outputs.provider != 'sqlite'
        working-directory: examples/${{ matrix.example }}
        env:
          WASP_CLI_CMD: wasp-cli
          HEADLESS_TEST_MODE: build
        run: |
          npm run test
