name: Test Wasp Deploy

on:
  push:
    paths:
      - "waspc/**"
      - ".github/**"
    branches:
      - main
      # TODO: Remove before merge
      - filip-automatic-deploy-test-fly
    tags:
      - v*

env:
  APP_PREFIX: ci-${{ github.sha }}
  FLY_API_TOKEN: ${{ secrets.FLY_GITHUB_TESTING_TOKEN }}
  FLY_REGION: mia
  APP_TO_DEPLOY: waspc/examples/todoApp

jobs:
  fly_deploy_app:
    name: Deploy Wasp app

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          # Workaround for a Github Checkout action bug
          # https://github.com/actions/checkout/issues/1359#issuecomment-1567902034
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Haskell
        uses: ./.github/actions/setup-haskell

      - uses: actions/setup-node@v4
        with:
          cache: "npm"
          node-version: "22"

      - name: Install Wasp CLI
        working-directory: waspc
        run: ./run install

      - uses: superfly/flyctl-actions/setup-flyctl@v1

      - name: Deploy App to Fly.io
        working-directory: ${{ env.APP_TO_DEPLOY }}
        run: |
          set -e

          # NOTE: This assumes env var values don't contain:
          #   - The character `#`.
          #   - An empty line (i.e., there are no multiline env values).
          ENV_VARS=$(
            cat .env.server.headless \
            | sed -E 's/#.*//' \
            | awk 'NF {$1=$1;print}' \
            | sed -E 's/^/--server-secret /' \
            | paste -sd' '
          )

          echo "Deploying with prefix: $APP_PREFIX"
          # NOTE: The `yes` command is necessary because the `fly launch` command prompts for confirmation 
          eval yes | wasp-cli deploy fly launch "$APP_PREFIX" "$FLY_REGION" --org wasp-testing $ENV_VARS

      - name: Save deployed app hostnames
        id: save_hostnames
        working-directory: waspc/examples/todoApp
        run: |
          echo "server_hostname=$(flyctl status -j -c fly-server.toml | jq -r '.Hostname')" >> "$GITHUB_OUTPUT"
          echo "client_hostname=$(flyctl status -j -c fly-client.toml | jq -r '.Hostname')" >> "$GITHUB_OUTPUT"

    outputs:
      server_hostname: ${{ steps.save_hostnames.outputs.server_hostname }}
      client_hostname: ${{ steps.save_hostnames.outputs.client_hostname }}

  smoke_test_app:
    name: Run smoke tests on deployed app

    runs-on: ubuntu-latest
    needs: fly_deploy_app
    env:
      SERVER_HOSTNAME: ${{ needs.fly_deploy_app.outputs.server_hostname }}
      CLIENT_HOSTNAME: ${{ needs.fly_deploy_app.outputs.client_hostname }}

    steps:
      - name: Smoke test the server
        run: |
          curl --fail --silent -X POST https://$SERVER_HOSTNAME/operations/get-date | jq '.json'

      - name: Smoke test the client
        run: |
          curl --fail --silent https://$CLIENT_HOSTNAME | grep 'ToDo App'

  fly_destroy_app:
    runs-on: ubuntu-latest
    name: Clean up deployed Fly app
    needs: [fly_deploy_app, smoke_test_app]
    # NOTE: Fly deployments can sometimes "fail" but still deploy the apps. We
    # want to always clean them up.
    if: always()

    steps:
      - uses: superfly/flyctl-actions/setup-flyctl@v1

      - name: Clean up testing app from Fly.io
        run: |
          # NOTE: We are relying on Wasp's naming conventions here
          flyctl apps destroy -y $APP_PREFIX-server || true
          flyctl apps destroy -y $APP_PREFIX-client || true
          flyctl apps destroy -y $APP_PREFIX-db || true
